<div class="footer navbar-fixed-bottom">
  <div class="container">
    <ul class="nav nav-pills">
      <li>
        <%= link_to '©lvlapp.com', root_path %>
      </li>
      <li>
        <%= mail_to 'support@lvlapp.com', 'contact' %>
      </li>
    </ul>
  </div>
</div>

<%= render 'shared/uservoice' %>
