<div class="footer">
  <div class="container">
    <div class="row">
    <ul class="nav nav-pills">
      <li>
        <%= link_to '©lvlapp.com', root_path %>
      </li>
      <li>
        <%= mail_to 'support@lvlapp.com', 'contact' %>
      </li>
      <li>
        <%= render 'shared/follow_on_twitter' %>
      </li>
      <li class='video-copy-rights'>
        <span>All videos are property and copyright of their owners and are provided for educational purposes.</span>
      </li>
    </ul>
  </div>
  </div>
</div>

<%= render 'shared/uservoice' if Rails.env.production? %>
