<div class="footer">
  <div class="container">
    <ul class="nav nav-pills">
      <li>
        <%= link_to '©lvlapp.com', root_path %>
      </li>
      <li>
        <%= mail_to 'supprot@lvlapp.com', 'contact' %>
      </li>
    </ul>
  </div>
</div>
