<div class="navbar navbar-static-top">
  <div class="top-navbar">
    <div class="container">
      <a href="/" class="navbar-brand"><span class="darky">lvl</span><span>app</span></a>
      <span class='small-disclaimer'>(beta)</span>
      <%= render 'shared/user_session' %>
    </div>
  </div>
</div>
