<div class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="navbar-brand">LvlApp</a>
      <%= render 'shared/user_session' %>
    </div>
  </div>
</div>
