<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="navbar-brand">lvlApp</a>
      <span class='small-disclaimer'>(beta)</span>
      <%= render 'shared/user_session' %>
    </div>
  </div>
</div>
