<div class="navbar navbar-static-top">
  <div class='rainbow'>
    <div class='navyblue'></div>
    <div class='blue'></div>
    <div class='lightblue'></div>
    <div class='yellow'></div>
    <div class='orange'></div>
  </div>
  <div class="top-navbar">
    <div class="container">
      <a href="/" class="navbar-brand"><%= image_tag 'lvlapp-logo.png' %></a>
      <%= render 'shared/user_session' %>
    </div>
  </div>
</div>
