<% if os_not_supported? %>
  <div class="alert alert-block">
    <h4>Warning - not supported device.</h4>
    <div style="margin-top:10px">
      This application requires keyboard and flash support, that's why it's not suppoted on mobile devices. <br />Please try PC or Mac.
    </div>
  </div>
<% end %>
