<p>To help you navigate over the transcript there are some useful keyboard shortcuts: </p>
<table class='shortcuts-help table table-condensed'>
  <tr> <td><span>[tab]</span> skip/show word if you can't guess it</td> </tr>
  <tr> <td><span>[space]</span> play / pause video</td> </tr>
  <tr> <td><span>[enter]</span> replay line if you didn't get the missing word</td> </tr>
  <tr> <td><span>[up]</span> go to previous line</td> </tr>
  <tr> <td><span>[down]</span> go to next line</td> </tr>
</table>
