<div data-id='video-player'>
  <video id="videojs-video" class="video-js vjs-default-skin"
  preload="auto" height="340" width="770"
  <%#poster="http://video-js.zencoder.com/oceans-clip.png"%>
  data-setup='{"example_option":true}'>
  <source src="<%= audio_video.url %>" type='video/mp4' />
  </video>
</div>
