<div data-id='video-player'>
  <video id="videojs-video" class="video-js vjs-default-skin"
  preload="auto" height="280" width="640"
  data-setup='{"example_option":true}'>
  <source src="<%= audio_video.url %>" type='video/mp4' />
  </video>
</div>
