<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id='youtube-player-container' style="z-index: 999">
  <div id="youtube-player"></div>
</div>

<script>
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var youtubePlayer;

  function onYouTubeIframeAPIReady() {
    youtubePlayer = new YT.Player('youtube-player', {
      playerVars: { 'autoplay': 0, 'controls': 0, 'disablekb':1, 'modestbranding':1, 'rel':0, 'showinfo':0, 'theme': 'light' },
      height: '280',
      width: '640',
      videoId: "<%= audio_video.url[/watch\?v=(.+)/, 1]%>",
      events: {
        'onReady': onYoutubePlayerReady,
        'onStateChange': onYoutubePlayerStateChanged
      }
    });

    $(document).trigger('youtubeVideoLoaded')

    var videotime = 0;

    function onYoutubePlayerStateChanged(status) {
      if(status.data == 0) {
        $(document).trigger('youtubeVideoEnded');
      }
      if(status.data == 1) {
        $(document).trigger('youtubeVideoStart');
      }
      if(status.data == 2) {
        $(document).trigger('youtubeVideoPause');
      }
    }

    function onYoutubePlayerReady() {
      function updateTime() {
        var oldTime = videotime;
        if(youtubePlayer && youtubePlayer.getCurrentTime) {
          videotime = youtubePlayer.getCurrentTime();
        }
        if(videotime !== oldTime) {
          $(document).trigger('youtubeVideoCurrentTime');
        }
      }

      setInterval(updateTime, 100);
    }
  }
</script>
