<div class="about">
<section id='how-does-it-work'>
  <div class="container">
      <div class="row">
        <div class="span7">
          <h3>How does it work</h3>
          <p>
          <strong>LvlApp</strong>'s goal is to help you to level up English as your second language by listening, writing and smart repetition.
          </p>
          <p>
          The idea is simple, pick up the video that you're interested in, choose the difficulty, and start playing by filling in blank spaces. There are plenty of keyboard shortcuts that will help you to navigate over the transcript. You can repeat every line as many times you want. There is no time limit, the goal is to learn!

          </p>
        </div>
        <div class="span5">
          <img src="http://placehold.it/450x300" alt="">
        </div>
      </div>
  </div>
</section>

<section id='choose-difficulty'>
  <div class="container">
    <div class="wrap row">
      <div class="span5">
        <img src="http://placehold.it/450x300" alt="">
      </div>
      <div class="span7 center-text">
        <h3>Choose the difficulty</h3>
        <p>
        The video will load and you will be able to select one of the few difficulty levels. All levels are based on the amount of words that you would have to fill in, and for example medium level has one missing word per line on average.
        </p>
      </div>
    </div>
  </div>
</section>

<section id='fill-in-blanks'>
  <div class="container">
    <div class="wrap row">
        <div class="span7 center-text">
          <h3>Fill in the blanks</h3>
          <p>
          After you choose  difficulty, the video will start playing and you can fill in the missing words. The video will stop if you don't get the missing word right, but of course you can replay the line or even go several lines back to listen it from the beginning.
          </p>
        </div>
        <div class="span5" style="margin-bottom:3em;">
          <img src="http://placehold.it/450x300" alt="">
        </div>
    </div>
  </div>
</section>

<section id='keyboard-shortcuts'>
  <div class="container">
    <div class="wrap row">
        <div class="span5">
          <img src="http://placehold.it/450x300" alt="">
        </div>
        <div class="span7">
          <h3>Keyboard shortcuts</h3>
          <%= render 'shared/shortcuts_help' %>
        </div>
    </div>
  </div>
</section>

<section id='adding-words-to-phrasebook'>
  <div class="container">
    <div class="wrap row">
        <div class="span7 center-text">
          <h3>Adding words to Phrasebook</h3>
          <p>
          Another essential feature is a phrasebook.
          Usage of the phrasebook is straightforward - just click on the word, that you want to save, and then check its definition. After that you can go the repetition section and start learning saved vocabulary.
          </p>
          <p>
          <strong>This only works for the signed in users.</strong>
          </p>
        </div>
        <div class="span5" style="margin-bottom:3em;">
          <img src="http://placehold.it/450x300" alt="">
        </div>
    </div>
  </div>
</section>
</div>
