<section id="front-about">
<div class='container'>
  <div class="row">
    <div class='span6'>
      <%= image_tag 'front_home.png' %>
    </div>
    <div class="primary_info span6">
      <h1><em>Level up</em> your second language by listening and smart repetition.</h1>

      <p>
        Improve your language skills by listening to your favourite songs, movie clips and all variety of videos.
      </p>
      <p>
        Fill in the missing words and measure the progress.
      </p>
      <p>
      Add new words to the <em>phrasebook</em>, and learn them in your spare time.
      </p>

      <p class='front-prompt'><%= link_to 'See it for yourself', audio_videos_path %></p>
    </div>
  </div>

  <div class="row top-buffer hidden">
    <div class="span4">
      <h2>Listening</h2>
      <p>There is no better way to practice another language than active listening. Choose from several levels and fill in the missing words in the video's transcript.</p>
    </div><!-- /.span4 -->
    <div class="span4">
      <h2>Spaced repetition</h2>
      <p>Spaced repetition is a learning technique that incorporates increasing intervals of time between subsequent review of previously learned material in order. Use it to remember new words.</p>
    </div><!-- /.span4 -->
    <div class="span4">
      <h2>Fun</h2>
      <p>Listen to your favorite songs, learn lyrics and sing along:)</p>
    </div><!-- /.span4 -->
  </div>
</div>
</section>

<section id='front-recently-added' class="">
<div class='container'>
  <div class="row">
    <div class="span-12 media-grid">
      <h2>Recently added</h2>
      <% @recent_videos.each do |audio_video| %>
        <%= render 'shared/audio_video', audio_video: audio_video %>
      <% end %>
    </div>
  </div>
  </section>
