<section id="front-about">
<div class='container'>
  <div class="row ">
    <div class="primary-info-text span5">
      <h1>Level up your English by listening, writing and smart repetition.</h1>

      <p>
        Improve your language skills by listening to your favourite songs, movie clips and all variety of videos.
      </p>
      <p>
        Fill in the missing words and measure the progress.
      </p>
      <p>
      Add new words to the <em>phrasebook</em>, and learn them in your spare time.
      </p>

    </div>
    <div class='primary-info-image span6'>
      <%= image_tag 'front_home.png' %>
    </div>
  </div>

  <div class="row top-buffer hidden">
    <div class="span4">
      <h2>Listening</h2>
      <p>There is no better way to practice another language than active listening. Choose from several levels and fill in the missing words in the video's transcript.</p>
    </div><!-- /.span4 -->
    <div class="span4">
      <h2>Spaced repetition</h2>
      <p>Spaced repetition is a learning technique that incorporates increasing intervals of time between subsequent review of previously learned material in order. Use it to remember new words.</p>
    </div><!-- /.span4 -->
    <div class="span4">
      <h2>Fun</h2>
      <p>Listen to your favorite songs, learn lyrics and sing along:)</p>
    </div><!-- /.span4 -->
  </div>
</div>
</section>

<section id='front-recently-added' class="">
  <div class='container'>
    <div class="row" ng-app="LvlFront">
      <div class="span-12 media-grid horizontal-fluid tabs" ng-controller="TabsCtrl">
        <ul class='tnav nav nav-pills'>
          <li class="{{active == 'recent' && 'active'}}">
            <a class="" ng-click="change('recent')">Recently added</a>
          </li>
          <li class="{{active == 'popular' && 'active'}}">
            <a class="" ng-click="change('popular')">Popular</a>
          </li>
          <li class="{{active == 'featured' && 'active'}}">
            <a class="" ng-click="change('featured')">Featured</a>
          </li>
        </ul>
        <div class='tcontent'>
          <div class="tab {{active == 'recent' && 'active'}}">
            <% @recent_videos.each do |audio_video| %>
              <%= render 'shared/audio_video', audio_video: audio_video %>
          <% end %>
          </div>
          <div class="tab {{active == 'popular' && 'active'}}">
            <% @popular_videos.each do |audio_video| %>
              <%= render 'shared/audio_video', audio_video: audio_video %>
          <% end %>
          </div>
          <div class="tab {{active == 'featured' && 'active'}}">
            <% @featured_videos.each do |audio_video| %>
              <%= render 'shared/audio_video', audio_video: audio_video %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='front-quoted-text' class="">
  <div class='container'>
    <div class="row">
      <h3>Get you English to the next level!</h3>
    </div>
  </div>
</section>
