<section id="front-about">
<div class='container'>
  <div class="row ">
    <div class="primary-info-text span7">
      <h1>Level up your English by listening, writing and smart repetition.</h1>
      <ul>
        <li>
        Improve your language skills by listening to your favourite songs, movie clips and all variety of videos.
        </li>
        <li>
        Fill in the missing words and measure the progress.
        </li>
        <li>
        Add new words to the <strong>phrasebook</strong>, and learn them in the spare time.
        </li>
      </ul>

      <%= render 'shared/front_share_links' %>

    </div>
    <div class='primary-info-image span5'>
      <iframe width="360" height="315" src="//www.youtube.com/embed/q5xFVTlOqjo?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <%#<div class='primary-info-image span5'>%>
      <%#= image_tag 'lvlapp-infographic-homepage.png' %>
    <%#</div>%>
  </div>
</div>
</section>

<section id='front-recently-added' class="">
  <div class='container'>
    <div class="row" ng-app="LvlFront">
      <div class="span-12 media-grid horizontal-fluid tabs" ng-controller="TabsCtrl">
        <ul class='tnav nav nav-pills'>
          <li class="{{active == 'recent' && 'active'}}">
            <a class="" ng-click="change('recent')">Recently added</a>
          </li>
          <li class="{{active == 'popular' && 'active'}}">
            <a class="" ng-click="change('popular')">Popular</a>
          </li>
          <li class="{{active == 'featured' && 'active'}}">
            <a class="" ng-click="change('featured')">Featured</a>
          </li>
        </ul>
        <div class='tcontent'>
          <div class="tab {{active == 'recent' && 'active'}}">
            <% @recent_videos.each do |audio_video| %>
              <%= render 'shared/audio_video', audio_video: audio_video %>
          <% end %>
          </div>
          <div class="tab {{active == 'popular' && 'active'}}">
            <% @popular_videos.each do |audio_video| %>
              <%= render 'shared/audio_video', audio_video: audio_video %>
          <% end %>
          </div>
          <div class="tab {{active == 'featured' && 'active'}}">
            <% @featured_videos.each do |audio_video| %>
              <%= render 'shared/audio_video', audio_video: audio_video %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='front-quoted-text' class="">
  <div class='container'>
    <div class="row">
      <h3>Get your English to the next level!</h3>
    </div>
  </div>
</section>
