<section id="about">
<div class="row">
    <div class='row span6'>
      <%= image_tag 'front_home.png' %>
    </div>
    <div class="primary_info span6">
      <h1><em>Play and learn at the same time. </em>Measure the progress.</h1>

      <p>
        Improve your language skills by listening to your favourite songs and interesting video clips.
      </p>
      <p>
        Fill in the missing words, and earn points.
      </p>
      <p>
        Use spaced repletion to truly remember new phrases.
      </p>
      <p><%= link_to 'Check out now', audio_videos_path, class: 'btn'%></p>
    </div>
    </div>

  <div class="row top-buffer">
        <div class="span4">
          <h2>Listening</h2>
          <p>There is no better way to practice another language than active listening. Choose from several levels and fill in the missing words in the video's transcript.</p>
        </div><!-- /.span4 -->
        <div class="span4">
          <h2>Spaced repetition</h2>
          <p>Spaced repetition is a learning technique that incorporates increasing intervals of time between subsequent review of previously learned material in order. Use it to remember new words.</p>
        </div><!-- /.span4 -->
        <div class="span4">
          <h2>Fun</h2>
          <p>Listen to your favorite songs, learn lyrics and sing along:)</p>
        </div><!-- /.span4 -->
      </div>
</section>
