<h3> HELP </h3>
<ul>
  <li>
    Generate json transcript from lrc <%= link_to 'lrc/new', lrc_new_path %>
  </li>
  <li>
    Shift existing video by x <%= link_to 'shift_transcipt', shift_transcript_path %>
  </li>
</ul>
