<h3> HELP </h3>
<ul>
  <li>
    Generate json transcript from lrc<%= link_to 'lrc/new', lrc_new_path %>
  </li>
  <li>
    Shift existing video by x <%= shift_transcript_path %>?audio_video_id=XX&time=1.1
  </li>
</ul>
