<div class='span12'>
  <h2>Recent videos</h2>
</div>

<div class='media-grid horizontal-4 span10'>
<% @audio_videos.each do |audio_video| %>
  <%= render 'shared/audio_video', audio_video: audio_video %>
<% end %>
</div>

<div class='span2'>
  <ul class='nav nav-list'>
  <% @categories.each do |category| %>
    <li class='<%= (category == @category ) ? "active" : ""%>'>
      <%= link_to category.name, audio_videos_path(:category_id => category.id)%>
    </li>
  <% end %>
  <ul>
</div>
