/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require video-js
 *= require_tree .
 */
.highlight {
  background: #ffffe0;
}

#transcript-player{
  position: relative;
  width: 600px;
  height: 300px;
  overflow: hidden;
}

#transcript-player ul{
  position: absolute;
}

#transcript-player ul li p{
  margin:0;
}
#transcript-player ul li{
  display: block;
  list-style-type: none;
  list-style-position: outside;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-bottom: 1px solid #D7DDEA;
  color: #606060;
}
