/*
 *= require_self
 *= require video-js
 *= require_tree .
 *= require social-share-button
 */

@import "bootstrap";
@import "colors";

body{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
a{
  color: $lightblue;
  cursor: pointer;

  &:hover{
    color: $orange;
    text-decoration: none;
  }
}

.link{
  @extend a
}

.hidden{
  display:none;
}

h1,h2,h3,h4,h5{
  font-weight: 400;
}

.navbar {
  .rainbow{
    width:100%;
    div{
      width:20%;
      height: 4px;
      float:left;
    }
    .orange    { background: $orange; }
    .yellow    { background: $yellow; }
    .yellow    { background: $yellow; }
    .lightblue { background: $lightblue; }
    .blue      { background: $blue; }
    .navyblue  { background: $navyblue; }
  }
  margin-bottom: 0px;
  height: 80px;
  background: $lightgrey;

  .top-navbar{
    font-size: 18px;
    .nav{
      padding: 20px 0px 0px;
      a{
        @extend .open-sans-bold;
        font-size: 18px;
        color: $navyblue !important;

        &:hover{
          color: $blue !important;
        }
      }
    }
  }

}
a.navbar-brand {
  color: $orange;
  float: left;
  font-weight: bold;

  &:hover{
    color: $orange;
  }
  .darky{
    color: $navyblue;
  }
}

.small-disclaimer{
  float: left;
  line-height: 21px;
  padding: 11px 0px 0px 5px;
  font-size: 13px;
  color: #005580;
}

.nav{
  text-transform: uppercase;
  form{
    margin:0;
    padding: 8px 15px 0px;
  }
}

.footer{
  min-height: 30px;
  background: #eeeeee;
  font-size: 12px;
  iframe{
    margin-top: 7px;
  }
  .nav{
    margin-bottom: 0px;
  }
  .video-copy-rights{
    float: right;
    span{
      display:block;
      padding-top: 6px;
      margin-top: 2px;
      margin-bottom: 2px;
      font-size:10px;
    }
  }
}

/* User sign in and sign forms. */
.border-form-div {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.breadcrumb{
  font-size: 12px;
  margin: 10px 0;
  padding: 0px;
  background: none;
}
.tooltip{
  .tooltip-inner{
    background: $lightblue;
    z-index:99999;
  }
  .tooltip.bottom{ 
    .tooltip-arrow{
      border-bottom-color:$lightblue !important;
    }
  }
}
.shortcuts-help{
  td{border:none;}
  span{
    padding:0 3px;
    color: #fff;
    background: $lightblue;
  }
}

table.zebra{
  tr:nth-child(odd){
    background: $lightgrey;
  }
}
