$videoSetupBG: #44403C; //#262C35;
@import "colors.css.scss";

@mixin notSelectable(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lapp{
  .span8{
    min-width: 770px;
  }
}

h3.audio-video-title{
  font-size: 19px;
  padding:0px 0;
  margin:2px 0;
}

.highlight {
  background: #C7E7FF;
}

.player-containter{
  position: relative;
  height: 340px;
  background: image-url('spinner.gif') no-repeat 50% 50%;

  .game-menu.setup{
    display:block;
  }

  .game-menu{
    display: none;
    position: absolute;
    width: 770px;
    left: 0px;
    top: 0px;
    height: 360px;
    z-index: 99;
    background: $blackRgb;
    background-color: $blackRgbTransparent;
    color:   #2BBBD8;
    .menu-wrapper{
      opacity: none;
      position: absolute;
      margin: 0;
      width: 20%;
      left:40%;

      h3{
        text-align:center;
        color: white;//#d95525;
        font-weight:normal;
        font-size:20px;
        margin: 40px 0 0 0;
      }

      ul{
        margin: 0;
        li{
          opacity: 0.9;
          &.easy{ background-color:$lightblue; }
          &.medium{ background-color:$blue; }
          &.hard{ background-color:$navyblue; }
          &.just-listen{ background-color:$darkgrey; }

          display: block;
          list-style-type: none;
          list-style-position: outside;
          height: 28px;
          line-height: 28px;
          text-align: center;
          padding: 4px;
          &:nth-last-child(-n+2){
            border-bottom: none;
          }
          a{
            display:block;
            color: white;
            &:hover{
              color: #d95525;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.video-info{
  @include notSelectable();
  height:20px;
  z-index:59px;
  text-left: right;
  background: #44403C;
  color: #F7F1D9;

  .app-controls{
    width:18%;
    float:left;
    .play, .pause{
      display:none;
    }

    a{
      color: #F7F1D9;
      padding:0 3px;
      cursor:pointer;
      &:hover{
        color: #d95525;
        text-decoration: none;
      }
    }
  }


  .app-controls.paused{
    .play{
      display: inline;
    }
  }
  .app-controls.playing{
    .pause{
      display: inline;
    }
  }

  .app-progress{
    margin-left:1%;
    height:20px;
    width:68%;
    float:left;
    .progress{
      margin:7px 0 0 0;
      height:5px;
    }
  }
  .app-time{
    text-align:right;
    margin-left:1%;
    width:10%;
    float:left;
  }
  clear:left;
}

.transcript-player{
  clear:left;
  position: relative;
  height: 300px;
  overflow: hidden;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;

  &:focus{
    outline:none;
  }

  .controls{
    text-align: center;
    height:20px;
    width: 100%;
    position: absolute;
    background: #44403C;
    left: 0;
    bottom: 0;
    z-index:90;
    padding: 0 15px;

    a{
      padding: 0 15px 0 0;
      cursor: pointer;
      color: #F7F1D9;
      font-weight:bold;
    }
  }

  ul.lines{
    width: 100%;
    position: absolute;
    margin: 0;

    li{
      display: block;
      list-style-type: none;
      list-style-position: outside;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border-bottom: 1px solid #D7DDEA;
      color: #606060;
      .time{
        position:absolute;
        left: 5px;
      }
      .word{
        position: relative;
        fault{ color: red; }
        correct{ color: #1EA51E; }
      }

      p{
        position:relative;
        margin:0;
      }
    }
  }
}

.signed-in {
  .transcript-player ul li{
    .word{
      &:hover{
        cursor: pointer;
        position: relative;
        color: #d95525;
      }
    }
  }
}

.game-shared-screen{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto auto;
  padding: 10px 0 0 0px;
  background: $darkgrey;
  z-index: 99;
  opacity: 0.94;
  color:   #2BBBD8;

  h3{
    color: #E4B67C;//#d95525;
    font-weight:normal;
  }

  a {
    display: block;
    cursor: pointer;
    font-size: 16px;
  }
}


.game-end{
  display:none;
  //text-align: left;

  h3{
    text-align: center;
  }

  h4.total{
    .points{
      color: #fff;
    }

    padding: 1% 10%;
    font-size: 20px;
  }

  .breakdown{
    display: none;
    padding: 1% 10%;
    font-size: 15px;
  }

  .restart{
    text-align: center;
  }
}

.game-end.finished{
  display: block;
}

.game-starting{
  display: none;
}

.game-setup-info{
  display: none;
  &.setup{
    display: block;
  }
}

.game-starting.starting{
  background: $videoSetupBG image-url('game-loading.gif') no-repeat 50% 50%;
  display: block;
}

// ################### EDIT ################
.transcript-player{
  input.time{
    width:10%;
  }
  input.word{
    width:70%;
  }
}
