@import "colors.css.scss";
@import "blink.css.scss";

.level-common{
  padding: 0 2px;
  color: #fff;
  font-size: 12px;
}
.v-level-easy{ @extend .level-common; background: $lightblue; }
.v-level-medium{ @extend .level-common; background: $navyblue; }
.v-level-hard{ @extend .level-common; background: $orange; }

@mixin notSelectable(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1.video-title{
  @extend .open-sans-bold;
  color: $navyblue;
  font-size: 18px;
  line-height:22px;
  margin:0;
  padding:0;
}
.link-to-original{
  font-size: 10px;
}

.lapp{
  .span8{
    min-width: 640px;
  }
  .span4{
    width: 270px;
  }
}

h3.audio-video-title{
  font-size: 19px;
  padding:0px 0;
  margin:2px 0;
}

.highlight {
  background: #C7E7FF;
}
.first-with-blanks{
  missing {
    @extend .cursor_effect;
  }
}
.player-containter{
  position: relative;
  height: 316px;
  background: image-url('spinner.gif') no-repeat 50% 50%;
  .over-player{
    display: none;
    position: absolute;
    width: 640px;
    left: 0px;
    top: 0px;
    height: 316px;
    z-index: 99;
    background: $blackRgb;
    background-color: $blackRgbTransparent;
    color:   #2BBBD8;
  }

  .game-end{
    display:none;
    &.finished{ display: block; }
    color: #fff;
    text-align: center;
    .score-info{
      padding: 30px 0;
    }

    h4{
      @extend .open-sans-bold;
      font-size: 22px;
      .points{
        color: $orange;
      }
    }

    .breakdown{
      display: none;
      padding: 1% 10%;
      font-size: 15px;
    }

    .center{
      margin-top: 125px
    }

    .restart{
      background: $navyblue;
      width: 160px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      padding: 4px;
      margin: 0 auto;
      a{
        color: #fff;
        &:hover{
        color: $orange;
        }
      }
    }
  }

  .game-menu{
    &.setup{ display:block; }

    .menu-wrapper{
      opacity: none;
      position: absolute;
      margin: 0;
      width: 30%;
      left: 36%;

      h3{
        text-align:center;
        color: white;//#d95525;
        font-weight:normal;
        font-size:18px;
        margin: 20px 0 0 0;
      }

      ul{
        margin: 0;
        li{
          opacity: 0.7;
          &.easy{ background-color:$lightblue; }
          &.medium{ background-color:$blue; }
          &.hard{ background-color:$navyblue; }
          &.just-listen{ background-color:$darkgrey; }

          display: block;
          list-style-type: none;
          list-style-position: outside;
          height: 28px;
          line-height: 28px;
          text-align: center;
          padding: 4px;
          &:nth-last-child(-n+2){
            border-bottom: none;
          }
          &:hover{
            opacity: 1;
          }
          a{
            display:block;
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.video-info{
  @include notSelectable();
  position: absolute;
  bottom: 0px;
  width: 640px;
  height:36px;
  z-index:59px;
  text-left: right;
  background: #1b1b1b;

  .app-controls{
    width:230px;
    float:left;
    margin-top:2px;

    .skip-word{
      background: image-url('lvlapp-sprites.png') no-repeat -96px 0px;
      &:hover{
        background: image-url('lvlapp-sprites.png') no-repeat -96px -32px;
      }
    }
    .replay-line{
      background: image-url('lvlapp-sprites.png') no-repeat -64px 0px;
      &:hover{
        background: image-url('lvlapp-sprites.png') no-repeat -64px -32px;
      }
    }
    .restart-game{
      background: image-url('lvlapp-sprites.png') no-repeat -32px 0px;
      &:hover{
      background: image-url('lvlapp-sprites.png') no-repeat -32px -32px;
      }
    }
    .line-down{
      background: image-url('lvlapp-sprites.png') no-repeat -128px 0px;
      &:hover{
      background: image-url('lvlapp-sprites.png') no-repeat -128px -32px;
      }
    }
    .line-up{
      background: image-url('lvlapp-sprites.png') no-repeat -160px 0px;
      &:hover{
      background: image-url('lvlapp-sprites.png') no-repeat -160px -32px;
      }
    }
    .play{
      background: image-url('lvlapp-sprites.png') no-repeat -0px 0px;
      &:hover{
        background: image-url('lvlapp-sprites.png') no-repeat -0px -32px;
      }
    }
    .pause{
      background: image-url('lvlapp-sprites.png') no-repeat -192px 0px;
      &:hover{
        background: image-url('lvlapp-sprites.png') no-repeat -192px -32px;
      }
    }

    a{
      display: block;
      float: left;
      width:32px;
      height:32px;
      color: #F7F1D9;
      margin: 0 0px 0 3px;
      cursor:pointer;

      &:hover{
        text-decoration: none;
      }
    }
  }

  .app-controls{
    .play{ display: none; }
  }

  .app-controls.paused{
    .play{ display: block; }
    .pause{ display: none; }
  }

  .app-controls.playing{
    .pause{ display: block; }
    .play{ display: none; }
  }

  .app-progress{
    margin-top: 15px;
    width:300px;
    float:left;
    .progress{
      margin:0px 0 0 0;
      height:5px;
    }
  }
  .app-time{
    font-size: 14px;
    margin-top: 7px;
    color: white;
    width:90px;
    float:right;
  }
  clear:both;
}

.transcript-player{
  clear:left;
  position: relative;
  height: 300px;
  overflow: hidden;
  border: 1px #efefef solid;

  &:focus{
    outline:none;
  }

  .controls{
    text-align: center;
    height:20px;
    width: 100%;
    position: absolute;
    background: #44403C;
    left: 0;
    bottom: 0;
    z-index:90;
    padding: 0 15px;

    a{
      padding: 0 15px 0 0;
      cursor: pointer;
      color: #F7F1D9;
      font-weight:bold;
    }
  }

  ul.lines{
    width: 100%;
    position: absolute;
    margin: 0;

    li:nth-child(odd){
      background-color: $lightgrey;
    }
    li{
      display: block;
      list-style-type: none;
      list-style-position: outside;
      height: 32px;
      line-height: 32px;
      text-align: center;
      color: #606060;
      .time{
        position:absolute;
        left: 5px;
      }
      .word{
        font-size: 15px;
        letter-spacing: 0.1em;
        position: relative;
        fault{ color: red; }
        correct{ color: #1EA51E; }
      }

      p{
        height: inherit;
        position:relative;
        margin:0;
      }
    }
  }
}

.signed-in {
  .transcript-player ul li{
    .word{
      &:hover{
        cursor: pointer;
        position: relative;
        color: #d95525;
      }
    }
  }
}

.game-shared-screen{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto auto;
  padding: 10px 0 0 0px;
  background: #fff;
  z-index: 99;
  opacity: 0.94;
  color:   #2BBBD8;

  h3{
    color: #E4B67C;//#d95525;
    font-weight:normal;
  }

  a {
    display: block;
    cursor: pointer;
    font-size: 16px;
  }
}

.game-starting{
  display: none;
}

.game-setup-info{
  display: none;
  &.setup{ display: block; }
  &.finished{ display: block; }

  color: #000;
  background: #fff;
  opacity: 1;
  h4{ color: $orange; }
  p{ margin:20px 0 0 0; }
  .shortcuts-help{
    width:60%;
    margin: 20px auto;
  }
}

.game-starting.starting{
  background: #fff image-url('ajax_loader.gif') no-repeat 50% 50%;
  display: block;
}

// ################### EDIT ################
.transcript-player{
  input.time{
    width:10%;
    float:left;
  }
  input.word{
    width:89%;
    float:right;
  }
}
