.highlight {
  background: #ffffe0;
}

#transcript-player{
  position: relative;
  height: 300px;
  overflow: hidden;
  border-left: 1px solid;
  border-right: 1px solid;

  ul{
    width: 100%;
    position: absolute;
    margin:0;
  }
}

#transcript-player ul li p{
  margin:0;

}
#transcript-player ul li{
  display: block;
  list-style-type: none;
  list-style-position: outside;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-bottom: 1px solid #D7DDEA;
  color: #606060;

  .word{
    position: relative;
    fault{ color: red; }
    correct{ color: green; }

    &:hover{
      cursor: pointer;
      position: relative;
      background: image-url('plus-icon.png') no-repeat 50% 50%;
    }
  }

  .raw-word{
    &:hover{
      opacity: 0.5;
    }
  }
}

#phrase-book ul{
}
