$orange: #e97433;
$navyblue: #0f1829;
$blue: #145975;
$lightblue: #65bcb4;
$yellow: #f4e55d;
$darkgrey: #3a383b;
$grey: #d9d9d9;
$lightgrey: #f3f3f3;
$blackRgbTransparent: rgba(0, 0, 0, .7);
$blackRgb: rgba(0, 0, 0, 1);

.open-sans-light{
  font-family: "Open Sans Leight", Arial, Helvetica, sans-serif;
}
.open-sans-bold{
  font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
}
