@import "colors.css.scss";

a{
  cursor: pointer;
}
#front-about{
  background: $lightgrey;
  .container{
    background: $lightgrey;
  }
  color: #000;
  h2{
    color: #C38E58;
  }
  .front-prompt{
    margin-top:50px;
    font-size: 16px;
    a{
      color: #F76335
    }
    a:hover{
      color: #F76335
    }
  }
}

.primary-info-image{
  float: right;
}
.primary-info-text{
  padding:40px;
  h1{
    @extend .open-sans-bold;
    line-height: 24px;
    margin:0;
    font-size: 24px;
    color: $lightblue;
  }
  ul{
    list-style-type: none;
    position:relative;
    margin: 20px 0 0 20px;

    li:before {
      background: image-url('lvlapp-sprites.png') no-repeat 0px -64px;
      width:22px;
      height:22px;
      content: " ";
      position: absolute;
      left: -15px;
    }

    li{
      padding:5px 0;
      @extend .open-sans-light;
      margin: 10px 0 0 15px;
      font-size: 14px;
    }
  }
}

#front-recently-added{
  background: #fff;
}

.top-buffer{
  margin-top:40px;
}

#front-quoted-text{
  height: 100px;
  h3{
    font-size: 24pt;
    color: $lightblue;
    text-align: center;
  }
}

.about{
  section{
    padding:10px 0;
    margin:10px 0;
  }
  section:nth-child(odd){
    h3{
      color: $lightblue;
    }
  }
  section:nth-child(even){
    h3{
      color: $orange
    }
    background: $lightgrey;
  }
}
.wrap{
  margin-top:10px;
  .center-text{
    margin-top:5%;
    text-align:left;
  }
  &.no-top-margin{
    .center-text{
      margin-top:0 ;
    }
  }
}

.tabs{
  .nav{
    margin:15px 0;
    a{
      font-size: 16px;
      @extend .open-sans-bold;
      &:hover{
        background-color: $grey;
        border-radius: 0;
        color: black;
      }
    }
    .active{
      a{
        color: black;
        background-color: $grey;
        border-radius: 0;
      }
    }
  }
  .tcontent{
    .tab{
      display:none;
    }
    div.active{
      display:block;
    }
  }
}
