.nothingToRepeat{ 
  .memorize, .memorize-stats{
    display:none;
  }
  .nothing-to-repeat{
    display:block;
  }
}
.endOfRepetition{ 
  .memorize{
    display:none;
  }
  .end-of-game{
    display:block;
  }
}


.end-of-game{
  display:none;
  min-height: 100px;
  text-align: center;
  padding: 20px 0;
}

.nothing-to-repeat{
  display:none;
  min-height: 100px;
  text-align: center;
  padding: 20px 0;
}

.memorize{
  a{
    cursor: pointer;
  }
  .center{
   text-align: center;
  }

  .question{
    min-height: 100px;
    font-size: 22px;

    span{
      padding: 20px 0;
    }
    .center{
      padding:20px;
    }
  }

  .show-answer{
    border-bottom: 1px dashed;
  }

  .answer{
    min-height: 200px;
    padding: 30px;
    font-size: 16px;

    //overflow:auto;
    border-bottom: 1px dashed;
  }

  .answer.answerHidden{
    .answer-content{
      //visibility: hidden;
      display: none;
    }
  }

  .score.answerHidden{
    visibility: hidden;
  }

  .score{
    text-align: center;
    a{
      padding: 2px 10px;
    }
  }

  .exit{
    text-align: left;
    border-bottom: 1px dashed;
  }

  table{
    td{
      vertical-align:middle;
      border:none;
      border-bottom: 1px dotted #dddddd;
    }

    .heading{
      width:15%;
      font-size:14px;
      padding:10px 30px 10px 0;
    }
  }

}
