.memoize{
  border: 1px solid;

  .center{
   text-align: center;
  }

  .question{
    height: 100px;
    border: 1px solid;
    span{
      padding: 20px 0;
    }
  }

  .show-answer{
    border: 1px solid;
  }

  .answer{
    min-height: 100px;
    border: 1px solid;
  }

  .answer.answerHidden{
    visibility: hidden;
  }

  .score.answerHidden{
    visibility: hidden;
  }

  .score{
    text-align: center;
    border: 1px solid;
    a{
      padding: 2px 10px;
    }
  }

  .exit{
    border: 1px solid;
  }

}
