// Place all the styles related to the Phrases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#phrase-book{
  .loading{
    a{
      display: none;
    }
    .small-indicator{
      display: inline-block;
      width: 16px;
      height: 16px;
      background: image-url('small-indicator.gif') no-repeat 50% 50%;
    }
  }
  a{
    &:hover{
      cursor: pointer;
    }
  }
}

