@import 'colors';

.sidebar-table{
  td{
    border-top: none;
    padding: 3px 4px;
  }
  td:nth-child(2){
    text-align:right;
  }
}

#help{
  td{
    a{
      display: block;
      cursor: pointer;
      &:hover{
        background: #eeeeee;
        text-decoration:none;
      }
    }
  }
}

#phrase-book{
  .remove-phrase{
    width:5%;
    float:right;
  }
  .phrase-name{
    width:95%;
    float:left;
  }
  .loading{
    a{
      display: none;
    }
    .small-indicator{
      display: inline-block;
      width: 16px;
      height: 16px;
      background: image-url('small-indicator.gif') no-repeat 50% 50%;
    }
  }
  a{
    &:hover{
      cursor: pointer;
    }
  }
}

.category-nav-list{
  text-transform: none;
  padding:0;
  @extend .open-sans-bold;
  li:nth-child(even){
    background: $lightgrey;
  }
  li{
    padding:0;
    margin-left:-15px;
    a{
      margin:0;
      padding:5px 5px;
    }
  }
}
