.media-grid {
  .video {
    float: left;
    margin: 10px 20px 0px 0;
    width: 215px;
    height: 210px;

    img{
      max-height: 160px;
    }

    .info{
      font-size: 11pt;
      margin: 5px 0;
      height: 42px
    }
  }
}

.horizontal-fluid.media-grid {
  .video {
    margin: 0px 20px 10px 0;
    width:215px;
  }
}
