.media-grid {
  .video {
    float: left;
    margin: 10px 30px 0px 0;
    width: 210px;
    height: 225px;

    .info{
      font-size: 11pt;
      margin: 5px 0;
      height: 42px
    }
  }
}

.horizontal-fluid.media-grid {
  .video {
    width:204px;
  }
}
