<!DOCTYPE html>
<html>
<head>
  <title>Landl</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="../" class="navbar-brand">FillItIn</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row-fluid">
      <%= yield %>
    </div>
    <hr>
    <div class="footer" class="span-12">
      <p>© Sparrovv 2013</p>
    </div>
  </div>
</body>
</html>
